.TextEditor
  background: $pebble
  min-height: 100vh
  padding: $xxl 0
  position: relative

  .content
    span
      line-height: 1.6

  .RichEditor
    &-editor
      padding: $lg $huge

    &-editorContainer
      background: transparent
      position: relative
      z-index: 1

    &-styleButton
      color: $copper
      cursor: pointer
      font-family: $headlineFont

    &-activeButton
      background: $charcoal
      color: $paper
      font-family: $headlineFont

  .DraftEditor
    &-root
      background-color: $pebble
      font-family: $editorFont
      font-size: pxToRem(18)
      margin: 0 auto
      line-height: 1.6
      position: relative

      +above($break-md)
        width: pxToRem(720)

    &-editorContainer
      color: $charcoal


  // Styles for the  within the Toolbars

  .InlineStyleControls
    display: inline-flex

    .toolbarItem
      color: $slate
      cursor: pointer
      font-family: $headlineFont
      line-height: 1
      padding: $md
      transition: 300ms $expo

    .active
      background: rgba($charcoal, .05)
      color: $charcoal
      font-family: $headlineFont

  .ContextualToolbar
    background: $paper
    display: inline-block
    position: absolute
    boxShadow()
    z-index: 2
    transition: opacity 300ms $expo
    top: pxToRem(999);

    .active
      background: $paper
      color: $copper

    &:after
      arrowDown()

  .Toolbar
    @extend h4
    align-items: center
    border: pxToRem(1) solid $concrete
    color: $slate
    bottom: 0
    display: inline-flex
    font-size: 12px
    justify-content: space-between
    padding: 0
    position: absolute
    width: 100%

    .InlineStyleControls,
    .stats
      align-items: center
      display: flex

      > :nth-child(n)
         border-right: pxToRem(1) solid $concrete
         padding: $md

    .stats
      transition: 300ms $expo

      span
        line-height: 1

      > :last-child
        border-right: pxToRem(1) solid $concrete

      &:hover
        color: $charcoal

  .public-DraftEditorPlaceholder-root
    color: rgba($charcoal, .55)
    position: absolute
    top: 0
