.TextEditor
  background: $pebble



  /*
   * Editor Styles
   */

  .DraftEditor
    &-root
      border-bottom: pxToRem(1) solid $concrete
      font-size: pxToRem(18)
      margin: 0 auto
      min-width: pxToRem(720)
      padding: $md 0
      position: relative
      text-align: left

    &-editorContainer
      position: relative
      z-index: 1



  // Required classes to make text editable, inherited from DraftJS
  .public-DraftEditorPlaceholder-root
    color: $concrete
    position: absolute
    z-index: 0

  .public-DraftEditor-content[contenteditable=true]
    -webkit-user-modify: read-write-plaintext-only
