.Card
  background $paper
  box-shadow 0 pxToRem(4) pxToRem(24) 0 $flint
  margin-bottom $lg
  padding $lg
  position: relative
  width 100%

  +above($break-sm)
    margin-bottom $xl
    padding $xl

  > :last-child
    margin-bottom:0
    padding-bottom: 0
