.ImageListItem-card
  transform: scale(1)
  transition transform 400ms $expo
  &:hover
    hoverShadow()
    transform: scale(1.025)

.image
  border-bottom: pxToRem(1) solid rgba($flint, .25)
  position: relative
  img
    display: block
    height: 100%
    width: 100%

.TextArea
  background: $paper
  padding: $sm
  text-align: left

// References / Moodboard
.ImageList.references
  column-count: 1
  column-gap: 0
  padding: 0
  position relative
  display grid
  // grid-auto-flow column

  +above($break-sm)
    grid-template-columns repeat(2, 1fr)

  +above($break-md)
    grid-template-columns repeat(3, 1fr)

  +above($break-lg)
    grid-template-columns repeat(4, 1fr)

  +above($break-xl)
    grid-template-columns repeat(5, 1fr)

  .ImageListItem
    break-inside: avoid
    margin: 0 $sm $md $sm

// Storyboard
.ImageList.storyboards
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  .ImageListItem
    flex: 0 0 'calc(50% - %s)' % ($md*2)
    margin: 0 $md $lg $md

.ImageListItem .TextArea.active .ButtonGroup
  position relative
  transform none

.Image-popoutButton
  position absolute
  bottom 0
  right 0
  background rgba($copper, .5)
  cursor pointer
  border none
  padding 5px
  width 30px
  height 30px
  box-sizing border-box

  &:hover
    background rgba($copper, 1.0)
  
  .Icon
    pointer-events none