textarea()
  border: pxToRem(2) solid transparent
  display block
  line-height: 1.6
  padding: pxToRem(10) $md
  transition: 400ms $expo
  width 100%
  margin 0

  &:hover
  &:focus
    border-color: $flint
    outline none

textarea
  textarea()

.TextArea
  position: relative

  .content
    textarea()

  .ButtonGroup
    padding: $md 0
    position: relative
    text-align: center

    +above($break-md)
      position: absolute;
      right: -($xxl)
      top: 50%
      transform: translateY(-50%);
      z-index 20

  // Custom styles mapped to props

  &.active > .content
    border-color: $concrete

  &.heading > .content
    @extend h1
    padding: pxToRem(14) $md $sm

  &.subheading > .content
    @extend h3
    padding: pxToRem(14) $md $sm

  &.center
    text-align: center
