.TextArea
    border: pxToRem(2) solid transparent
    padding: $md
    transition: 400ms $expo

  &:hover
    border-color: $concrete

  &:focus
    outline: none

  // Custom styles mapped to props
  &.active
    border-color: $copper

  &.subheading
    @extend h2
    padding-top: pxToRem(20)

  &.center
    text-align: center
