/*
 * --------------------------------------------------------
 *  Font Definitions
 * --------------------------------------------------------
 */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,800')

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-regular-webfont.woff') format('woff'), url('../../fonts/apercu-regular-webfont.ttf')  format('truetype'), url('/fonts/apercu-regular-webfont.svg#apercu-regular-webfont') format('svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-italic-webfont.woff') format('woff'), url('../../fonts/apercu-italic-webfont.ttf')  format('truetype'), url('/fonts/apercu-italic-webfont.svg#apercu-italic-webfont') format('svg')
  font-style: italic
  font-weight: normal

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-medium-webfont.woff') format('woff'), url('../../fonts/apercu-medium-webfont.ttf')  format('truetype'), url('/fonts/apercu-medium-webfont.svg#apercu-medium-webfont') format('svg')
  font-style: normal
  font-weight: 600

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-mediumitalic-webfont.woff') format('woff'), url('../../fonts/apercu-mediumitalic-webfont.ttf')  format('truetype'), url('/fonts/apercu-mediumitalic-webfont.svg#apercu-mediumitalic-webfont') format('svg')
  font-style: italic
  font-weight: 600

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-bold-webfont.woff') format('woff'), url('../../fonts/apercu-bold-webfont.ttf')  format('truetype'), url('/fonts/apercu-bold-webfont.svg#apercu-bold-webfont') format('svg')
  font-style: normal
  font-weight: 800

@font-face
  font-family: 'Apercu'
  src: url('../../fonts/apercu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-bolditalic-webfont.woff') format('woff'), url('../../fonts/apercu-bolditalic-webfont.ttf')  format('truetype'), url('/fonts/apercu-bolditalic-webfont.svg#apercu-bolditalic-webfont') format('svg')
  font-style: italic
  font-weight: 800

@font-face
  font-family: 'Apercu Mono'
  src: url('../../fonts/apercu-mono-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/apercu-mono-webfont.woff') format('woff'), url('../../fonts/apercu-mono-webfont.ttf')  format('truetype'), url('/fonts/apercu-mono-webfont.svg#apercu-mono-webfont') format('svg')
  font-style: normal
  font-weight: normal
